#sproduct {
  .inner_width {
    display: flex;

    .product_image {
      width: 400px;
      height: 400px;
      margin: 0 auto;
      margin-top: 50px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }
    }
    .desc {
      margin-left: 30px;
      p {
        font-size: 23px;
      }
    }
  }
}
